@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background;
    @apply text-accent;
  }
}

.hyphens-auto {
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}
